body {
    background-image: url("../images/rva.jpg");
    /* background-color: #dce0d8; */
    /* height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.header {
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 0;
    background-color: white;
    color: #ffffff;
}

.navbar .navbar-brand {
    color: white;
    font-family: 'Unna' ;
    font-size: 150%;
    font-weight: 900;
    background-color: rgb(103, 182, 137);
}

.left {
    float: left;
    padding: 0 10px 0 0;
}

.about-me {
    margin-left: 3%;
    margin-top: 90px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 3%;
    width: 60%;
    opacity: 1;
    background-color: white;
    font-family: 'DM+Serif+Text' ;
}

h2 {
    text-align: left;
    padding-top: 30px;
    color: rgb(103, 182, 137);
    font-size: xxx-large;
}

.about-image {
    float: left;
    height: 230px;
    width: 180px;
    margin-right: 20px;
}
.about-text p{
    font-stretch: expanded;
    font-family:'Arial' ;
}

footer {
    color: lightgray;
    background-color: rgb(128, 126, 126);
    height:50px;
    clear: both;
    padding: 19px 0 49px;
    margin-top: 4%;
    text-align: center;
}
