body {
background-image: url("../images/rva.jpg");
    background-color: #dce0d8;

}
.header {
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    color: #ffffff;
}

.navbar .navbar-brand {
    color: white;
    font-family: 'Playfair Display' ;
    font-size: 150%;
    font-weight: 900;
    background-color: rgb(126, 197, 157);
}


/* .header h1 {
    display: inline-block;
    font-size: 30pxpx;
    background-color: blue;
}

.header nav ul{
    list-style-type: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
} */

.about-me {
    margin: 0 auto;
    padding-left: 10%;
}
.about-image {
    float: left;
    height: 250px;
    width: 300px;
    margin: 0 auto;
}